#intro {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

#main-left-part {
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div>h2 {
    text-align: center;
}

#about-myself {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

#about-myself>div {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#find-me {
    margin: auto;
    margin-top: 80px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#find-me-bottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#find-me-top h1 {
    text-align: center;
    font-size: 35px;
}

#know-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
    margin-left: 50px;
}

#know-me-left-part {
    height: 45vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#know-me-left-part h1 {
    text-align: center;
}

#know-me-content h3:last-child {
    margin-top: 10px;
}

#know-me-content ul{
    margin-top: 10px;
}

#know-me-content li {
    margin-left: 100px;
    list-style-type: square;
}

#skills svg, #tools svg {
  border: 1px solid #c770f0;
  border-radius: 10px;
  padding: 10px 60px;
}

#skill-set h1, #tool-set h1 {
    text-align: center;
    margin: 30px;
}

#skills, #tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    gap: 5vw;
    justify-content: center;
}

#project-top {
    text-align: center;
    margin: 50px 0px;
}

.project {
    text-align: center;
    border: 1px solid #c770f0;
    border-radius: 10px;
    padding: 60px 10px;
}

.links {
    display: flex;
    justify-content: space-around;
    width: auto;
    gap: 10px;
}

.links a {
    margin-top: 10px;
    background-color: #c770f0;
    padding: 10px;
    border-radius: 10px;
}

.project * {
    margin: 10px 0;
}

.project img {
    width: 250px;
}
