footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 0, 46);
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10vw;

}

#footer-right>a {
    margin-right: 10px;
}